<section [hidden]="authenticated == false" >
	<button mat-raised-button (click)="signOut()">Log out</button>
	<p>You're logged in!</p>
</section>

<p>{{error}}</p>

<section id="main" [hidden]="authenticated == true" >
	<mat-accordion>
		<!-- Login panel -->
		<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Login
				</mat-panel-title>
				<mat-panel-description>
					Please login to access the account page
				</mat-panel-description>
			</mat-expansion-panel-header>
			<!-- Login form -->
			<form class="loginForm">
				<mat-form-field class="login-full-width">
					<input matInput placeholder="Email" name="email" [(ngModel)]="email" required>
				</mat-form-field>
				<mat-form-field class="login-full-width">
					<input matInput name="password" type="password" value="" [(ngModel)]="password" [type]="hide ? 'text' : 'password'">
				    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>
			</form>
			<button mat-raised-button (click)="login(email,password)">Login</button>
			<!-- End of login form -->
		</mat-expansion-panel>

		<!-- Sign up panel -->
		<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Sign Up
				</mat-panel-title>
				<mat-panel-description>
					Please sign up if you don't have an account
				</mat-panel-description>
			</mat-expansion-panel-header>
			<!-- Sign up form -->
			<form class="signUpForm">
				<mat-form-field class="signUp-full-width">
					<input matInput placeholder="Email" name="email" [(ngModel)]="email_register" required>
				</mat-form-field>
				<mat-form-field class="signUp-full-width">
					<input matInput name="password" type="password" value="" [type]="hide ? 'text' : 'password'" [(ngModel)]="password_register">
				    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>
			</form>
			<button mat-raised-button (click)="signUp(email_register,password_register)">Sign Up</button>
			<!-- End of sign up login -->
		</mat-expansion-panel>
	</mat-accordion>
</section>